body{
	background-image:url('images/doc-bg.gif');width:100%;
}

p{
	color:white;font-weight:bold;font-family:"Courier New", Courier, monospace;
}
a{
color:white;font-weight:bold;font-family:"Courier New", Courier, monospace;
}
h1{
color:white;font-weight:bold;font-family:Eurostile;text-align:center	
}
h2{
	color:black;font-weight:bold;font-family:"Courier New", Courier, monospace;background-color:white;
}

.price{
	color:black;font-family:"Courier New", Courier, monospace;text-align:justify;background-color:white;
}

.about{
	color:black;font-family:"Courier New", Courier, monospace;background-color:white;text-align:justify;font-size:12px;font-weight:bold
}
.tc{
		color:black;font-family:"Courier New", Courier, monospace;background-color:white;font-size:12px;margin-right:10px;margin-left:10px;
}

.re{color:black;background-color:white;font-family:"Courier New", Courier, monospace;
	
}

.even{
	color:black;background-color:white;font-family:"Courier New", Courier, monospace;font-size:12px;
}

.odd{
	color:black;background-color:silver;font-family:"Courier New", Courier, monospace;font-size:12px;
}